.navbar.is-green {
    background-color: rgb(90, 90, 90);
    color: #ffffff
}

.button.is-link {
    background-color: rgb(90, 90, 90);
}

.button.is-link.is-hovered, .button.is-link:hover {
    background-color: rgb(123, 174, 255);
    border-color: transparent;
    color: #fff;
}